AxiomIRISRibbon/Web References/sfRibbon/Axiom_RibbonController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/Axiom_RibbonController" targetNamespace="http://soap.sforce.com/schemas/class/Axiom_RibbonController" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/Axiom_RibbonController">
      <xsd:element name="AllowFieldTruncationHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="allowFieldTruncation" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CallOptions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="client" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DebuggingHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="categories" type="tns:LogInfo" />
            <xsd:element name="debugLevel" type="tns:LogType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="LogInfo">
        <xsd:sequence>
          <xsd:element name="category" type="tns:LogCategory" />
          <xsd:element name="level" type="tns:LogCategoryLevel" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="LogCategory">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Db" />
          <xsd:enumeration value="Workflow" />
          <xsd:enumeration value="Validation" />
          <xsd:enumeration value="Callout" />
          <xsd:enumeration value="Apex_code" />
          <xsd:enumeration value="Apex_profiling" />
          <xsd:enumeration value="Visualforce" />
          <xsd:enumeration value="System" />
          <xsd:enumeration value="All" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogCategoryLevel">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Internal" />
          <xsd:enumeration value="Finest" />
          <xsd:enumeration value="Finer" />
          <xsd:enumeration value="Fine" />
          <xsd:enumeration value="Debug" />
          <xsd:enumeration value="Info" />
          <xsd:enumeration value="Warn" />
          <xsd:enumeration value="Error" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None" />
          <xsd:enumeration value="Debugonly" />
          <xsd:enumeration value="Db" />
          <xsd:enumeration value="Profiling" />
          <xsd:enumeration value="Callout" />
          <xsd:enumeration value="Detail" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="DebuggingInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="debugLog" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SessionHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string">
          <xsd:length value="18" />
          <xsd:pattern value="[a-zA-Z0-9]{18}" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="RibbonRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="action" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="id" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="objname" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RibbonResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="nextaction" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="nextactionmessage" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="nextactionoptions" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="reload" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="selectid" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="success" nillable="true" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="address">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:location">
            <xsd:sequence>
              <xsd:element name="city" type="xsd:string" />
              <xsd:element name="country" type="xsd:string" />
              <xsd:element name="countryCode" type="xsd:string" />
              <xsd:element name="postalCode" type="xsd:string" />
              <xsd:element name="state" type="xsd:string" />
              <xsd:element name="stateCode" type="xsd:string" />
              <xsd:element name="street" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="location">
        <xsd:sequence>
          <xsd:element name="latitude" type="xsd:double" />
          <xsd:element name="longitude" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Dispatch">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="req" nillable="true" type="tns:RibbonRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DispatchResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:RibbonResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Header">
    <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader" />
    <part name="CallOptions" element="tns:CallOptions" />
    <part name="DebuggingHeader" element="tns:DebuggingHeader" />
    <part name="DebuggingInfo" element="tns:DebuggingInfo" />
    <part name="SessionHeader" element="tns:SessionHeader" />
  </message>
  <message name="DispatchRequest">
    <part name="parameters" element="tns:Dispatch" />
  </message>
  <message name="DispatchResponse">
    <part name="parameters" element="tns:DispatchResponse" />
  </message>
  <portType name="Axiom_RibbonControllerPortType">
    <operation name="Dispatch">
      <input message="tns:DispatchRequest" />
      <output message="tns:DispatchResponse" />
    </operation>
  </portType>
  <binding name="Axiom_RibbonControllerBinding" type="tns:Axiom_RibbonControllerPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Dispatch">
      <soap:operation soapAction="" />
      <input>
        <soap:header message="tns:Header" part="SessionHeader" use="literal" />
        <soap:header message="tns:Header" part="CallOptions" use="literal" />
        <soap:header message="tns:Header" part="DebuggingHeader" use="literal" />
        <soap:header message="tns:Header" part="AllowFieldTruncationHeader" use="literal" />
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:header message="tns:Header" part="DebuggingInfo" use="literal" />
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Axiom_RibbonControllerService">
    <documentation>
    </documentation>
    <port name="Axiom_RibbonController" binding="tns:Axiom_RibbonControllerBinding">
      <soap:address location="https://cs17.salesforce.com/services/Soap/class/Axiom_RibbonController" />
    </port>
  </service>
</definitions>